body {
    font-family: Arial, sans-serif;
    background-color: #f7f7d9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
}

.container {
    max-width: 600px; /* Limita el ancho máximo para evitar que crezca demasiado */
    width: 100%; /* Se asegura de que ocupe todo el ancho posible dentro de los límites */
    padding: 20px;
    background-color: #f5f5cb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0px 20px 20px; /* Agrega margen superior e inferior */
}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permite que los botones se acomoden en varias filas si es necesario */
}

.tab-button {
    background-color: hsl(60, 56%, 78%);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    margin-right: 2px;
    flex-grow: 1; /* Asegura que los botones ocupen el mismo ancho en una fila */
    text-align: center;
}

.tab-button.active {
    background-color: #fffdcc;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #ffffc7;
    border-radius: 0 10px 10px 10px;
}

.tab-content.active {
    display: block;
}

h2, h3 {
    color: #333;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    cursor: pointer;
    margin-top: 1px;
    width: 50%; /* Hace que el selector ocupe la mitad del ancho del contenedor */
}


.etiqueta{
    font-size: 130%
}

input[type="text"].entrada_mal_inactivo{
    border-color: red;
}

input[type="text"].entrada_mal_activo:focus {
    border-color: red;
    outline: none;
}

#etiqueta_ejemplos {
    font-size: 101%;
}