body {
    font-family: Arial, sans-serif;
    background-color: #f7f7d9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio (izquierda) */
    align-items: flex-start; /* Alineación superior */
    min-height: 100vh;
    padding-left: 20px; /* Añade un poco de espacio en el margen izquierdo */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

#wrapper {
    width: 100%;
    max-width: 800px;
    background-color: #fffbea;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Añadir separación entre los dos divs */
}

header {
    text-align: center;
    background-color: #ffeb99;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
}

.container {
    width: 100%;
    padding: 20px;
    background-color: #f5f5cb;
    border-radius: 0 0 10px 10px;
    margin: 0;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.tab-button {
    background-color: hsl(60, 56%, 78%);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: hsl(60, 56%, 68%);
}

.tab-button.active {
    background-color: #fffdcc;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #ffffc7;
    border-radius: 10px;
}

.tab-content.active {
    display: block;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h2, h3, h4 {
    color: #333;
    margin: 0 0 10px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    cursor: pointer;
    margin-top: 1px;
    width: 60%; /* Ajustado el ancho del select */
    display: block;
}

.etiqueta {
    font-size: 1.5rem;
    color: #333;
}

input[type="text"].entrada_mal_inactivo {
    border-color: red;
}

input[type="text"].entrada_mal_activo:focus {
    border-color: red;
    outline: none;
}

#extra-caja {
    width: 90%;
    max-width: 50%;
    height: 50%;
    background-color: #ffffc7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

#extra-caja .left-content, #extra-caja .right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Asegura que el contenido ocupe toda la altura del contenedor */
}

.exact-value-container, .sign-bit-container, .caracteristica-container, .mantisa-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 40px; /* Establece una altura fija para el contenedor de la etiqueta y el campo de entrada */
}

.exact-value-label, .sign-bit-label, .caracteristica-label, .mantisa-label {
    font-size: 1.2rem;
    margin-right: 5px;
    display: flex;
    align-items: center;
    line-height: 1; /* Alinea verticalmente el texto */
}

#extra-caja h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -10px; /* Ajusta este valor según sea necesario */
}


.scrollable {
    padding: 2px;
    margin: 10px;
    padding-left: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: left; /* Alinea el texto a la izquierda */
    white-space: nowrap; /* Evita que el texto se envuelva */
    cursor: text; /* Cambia el cursor para indicar que el texto es seleccionable */
    background-color: #f0f0f0; /* Cambia el color de fondo para diferenciarlo de los campos editables */
    color: #333; /* Asegura que el texto sea legible */
}
